@charset "UTF-8";
/* Custom CSS declarations below  */


/*navigation bar*/
.nav-pills .nav-link.active, .nav-pills .show, .nav-link {
    color: #266141 ;
     font: 1.6em Quattrocento, serif;
}

/*nav pills*/
a {
    color: grey;
    text-decoration: none;
    background-color: transparent;
}

/*color changes when hovered over nav pills*/
a:hover {
    color: grey;
    text-decoration: underline;
}


/*heading */
h1 {
  font: bold 2.5em Quattrocento, serif;
  height: 65px;
  color: #266141;
}

/*heading 2*/
h2 {
  font: bold 4.0em Quattrocento, serif;
  height: 65px;
  color: #266141;
  padding-top: 15px;
  padding-bottom: 90px;
}

/*heading 3*/
h3 { font: 1.5em Open Sans, sans-serif;
    color: #266141;
    
    padding-bottom: 15px;
}

/*heading 4*/
h4 {
  font: 1.9em Quattrocento, serif;
  height: 45px;
  color: #266141;
  margin: auto;
}

/*heading 5*/
h5 {
  font: bold 1.5em Open Sans, sans-serif;
  color: #4D697C;
}

h6 {
  font: 1.3em Quattrocento, serif;
  color: grey;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: white;
}


/*paragraph text*/
p {
    font: 1.0em Open Sans, sans-serif;
    color: #707070
}

/*body and background color*/
body {
    font-family: Open Sans, sans-serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0 10% 0;
    background-color: #fcf1d1;
}


div.b {
	color: #E9967A;
	font-size: 400%;
	font-weight: bold;
}

div.c {
	color: #000000;
}

/* Header Navigation All */
.headernav {
  padding-top:6px;
     background-color: white;
}

/* Logo */
.logo {
  width: 90%;
  padding-top: 5px;
}

.logo1 {
  width: 50%;
  padding-top:25px;
  padding-bottom:25px;
}

.logo2 {
  width: 30%;
  padding-top:25px;
  padding-bottom:5px;
}

/* Navigation Logo */
.logo3 {
  width: 120%;
}

.li {
  color: grey;
}

.form-line {
  padding-top: 10px;
}

.topnav {
  float: left;
}

/* Footer */
.footer {
	padding-top: 100px;
}

/* Cards */
.card {
  
}


.clientcard {
  padding-bottom:50px;
}

/* To Do Card */
.bg-primary {
  background-color: #A3C586 !important;
}

/* Sticky Note Card Middle */
.bg-warning {

  background-color: #95BBCB !important;
}

/* Sticky Note Card Right Create New */
.bg-success {
  background-color: #FFE086 !important;
}

.buttons {
  padding-bottom: 40px;
}

/* Card Text */
.card-text {
  color: white !important;
  font-size: 150%;
}

.form-row {
  
  align-items: center;
}

.btn {
  background-color: #266141;
  font: 1.0em Georgia, serif;
  border: none;
}

.btn:hover {
    background-color: #a3c586;
    text-decoration: underline;
}

.btn-intake {
  background-color: #266141;

  height: 30px;
}

/* Employee Button Home Page */
.employee-btn {
  padding-bottom: 10px;
}

/* Log In Button Home Page */
.login-btn {
  padding-top: 30px;
}


.progress1 {
  width: 10%;
  padding-bottom: 20px;
}

.forms {
  padding-top: 20px;
}

/* notification 1 button */
.notification {
  background-color: #FFD762;
}

/* creating a new notification text */
.newnotification {
  padding-left: 135px;
}


.profile1 {
  padding-top: 100px;
}

/* Profile Icon */
.profileicon1 {
 width: 70% !important;
}

/* Jumbotron Profile */
.jumbotron {
  background-color: white;
}

.comments {
  padding-left: 80px;
}

/* Client info and contacts on profile page */
.clientinfo {
  padding-top: 15px;
}

.chair {
  width: 100px !important;
}

.antiquechair {
  padding-right: 300px;
}

.media {
  padding-top: 50px;
}



.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

.home {
  padding-top: 25px;
}


 .lookat {
  padding-left: 150px;
 }

 .questions {
  padding-left: 194px;
 }

 .downsizing {
  padding-left: 185px;
 }

 .estate {
  padding-left: 142px;
 }

 .moving {
  padding-left: 215px;
 }

 .howsoldbox {
  padding-left: 90px;
 }

 .whatsoldbox {
  padding-left: 130px;
 }

.newexisting {
  padding-left: 80px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* FA Hover */
.fa:hover {
  opacity: 0.7;
}

/* Font Icon Search */
.fa-search {
  color: #266141;
  padding-right: 30px;
}

/* Font Icon Calendar */
.fa-calendar-alt {
  color: #266141;
  padding-right: 30px;
}

/* Font Icon Sign Out */
.fa-sign-out-alt {
  color: #266141;
}

.fa-bell {
  padding-left:770px;
}

.bell2 {
  padding-left: 823px;
}

.fa-edit {
  padding-left: 25px;
}


/* Dropdown menu */
.dropdown-menu, .dropdown-item {
    color: black;
    text-decoration: none;
    background-color: white;
}

/* Dropdown menu */
.dropdown-menu, .dropdown-item:hover {
    color: #98ab9d;
    background-color: white;
} 

/* Scrolling Note Sticky*/
.sticky {
  background: white;
  position: fixed;
  top: 65px;
  right: 0;
  background-color: #fcf1d1;
  padding: 50px;
}


